canvas { 
  width: 100%; 
  height: 100% 
}
body { 
  margin:0px;
}

.game-view {
  position:absolute;
}

#logo { 
  position:absolute;
  bottom:0px;
  z-index:10;
}
#levelSelector {
  margin-left:50%;
  position:absolute;
  z-index:10;
}
.gui {
  position:absolute;
  z-index:1;
  height:100%;
  width:100%;
  overflow:scroll;
  pointer-events:none;
}

.fullscreen-toggle {
  position:fixed;
  bottom:10px;
  left:10px;
}
.pull-left {
  float:left;
}
