body {
  background-color:black;
}

.page-intro {
  color:white;
}

@-webkit-keyframes fade {
  0%   { top:40%; opacity: 0; }
  50% { top:50%;opacity: 1.0; }
  100% { top:55%; opacity: 0; }
}
@keyframes fade {
  0%   { top:40%; opacity: 0; }
  50% { top:50%;opacity: 1.0; }
  100% { top:55%; opacity: 0; }
}

.page-intro .screen{
  position:absolute;
  font-family:Helvetica;
  font-size:3em;
  color:#f3ac0e;
  text-shadow:1px 0px 0px #996d09, -1px 0px 0px #ffb40f, 0px -1px 0px #ffb40f, 0px 1px 0px #996d09;
  animation: fade 3s infinite;
  -webkit-animation: fade 3s infinite;
  width:100%;
  text-align:center;
}
.skip {
  position:absolute;
  bottom:2em;
  right:2em;
  z-index:2;
}
